/* p{
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
    line-height: 50px; /* spaces between the lines*/
    /* font-family: serif,'Times New Roman', Times, serif; this used for when first font is not available use the second in place of first same with others also */
    /* color:green;
    background-color: yellow; 
    
} */